<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" th:href="@{/res/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/res/css/main.css}">
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="header" th:fragment="header">
    <div class="menu-btn">
        <div class="menu"></div>
    </div>
    <h1 class="logo">
        <a href="article/algorithm/algorithmList.html">
            <span>MYBLOG</span>
            <img th:src="@{/res/img/logo.png}">
        </a>
    </h1>
    <div class="nav">
        <a th:href="@{/algorithm}" th:class="${articlePage == true ? 'active':'' }">文章</a>
        <a th:href="@{/message}" th:class="${messagePage == true ? 'active':''}">留言</a>
        <a th:href="@{/album}" th:class="${albumPage == true ? 'active':''}">相册</a>
        <a th:href="@{/about}" th:class="${aboutPage == true ? 'active':''}">关于</a>
    </div>
    <ul class="layui-nav header-down-nav">
        <li class="layui-nav-item"><a th:href="@{/algorithm}" th:class="${articlePage == true ? 'active':'' }">文章</a></li>
        <li class="layui-nav-item"><a th:href="@{/message}" th:class="${messagePage == true ? 'active':''}">留言</a></li>
        <li class="layui-nav-item"><a th:href="@{/album}" th:class="${albumPage == true ? 'active':''}">相册</a></li>
        <li class="layui-nav-item"><a th:href="@{/about}" th:class="${aboutPage == true ? 'active':''}">关于</a></li>
    </ul>
    <p class="welcome-text">
        <span sec:authorize="!isAuthenticated()"><a th:href="@{/toLogin}"><button class="layui-btn layui-btn-radius layui-btn-dange">登录</button></a></span>
        <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><button class="layui-btn layui-btn-radius layui-btn-dange">注销</button></a></span>
        <span sec:authentication="name" style="color: #01AAED"></span>
        欢迎来到<span class="name">还挺好</span>的博客~
    </p>
</div>
<span class="layui-breadcrumb" lay-separator="|" th:fragment="bread">
            <a th:href="@{/algorithm}" th:class="${algorithmPage == true ? 'active' : ''}">算法设计</a>
            <a th:href="@{/javaList}" th:class="${javaPage == true ? 'active' : ''}">Java开发</a>
            <a href="javascript:" class="">前端开发</a>
            <a href="javascript:" class="">生活</a>
        </span>
<div class="footer-wrap" th:fragment="footer">
    <div class="footer w1000">
        <div class="qrcode">
            <img th:src="@{/res/img/erweima.jpg}">
        </div>
        <div class="practice-mode">
            <img th:src="@{/res/img/down_img.jpg}">
            <div class="text">
                <h4 class="title">我的联系方式</h4>
                <p>微信<span class="WeChat">13783859755</span></p>
                <p>手机<span class="iphone">13783859755</span></p>
                <p>邮箱<span class="email">1422731368@qq.com</span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>